اااا.json
{
  "name": "My workflow - With Product Images",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -560
      ],
      "id": "1441e35d-2ab2-4fa7-8f4e-ba397968bb95",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.fzr.cards/api/v2/topups",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "fc_75c398587018ed117fa2bc2f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -560
      ],
      "id": "53331609-981d-4497-ac55-8717407444fe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n\nif (!data.prices) {\n  data.prices = {};\n}\n\nfunction getImageUrl(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  const keys = [\n    'image_url', 'imageUrl', 'image', 'icon_url', 'iconUrl',\n    'icon', 'logo_url', 'logoUrl', 'logo', 'thumbnail',\n    'thumbnail_url', 'photo', 'photo_url', 'picture', 'picture_url'\n  ];\n\n  for (const key of keys) {\n    const value = obj[key];\n    if (typeof value === 'string' && value.startsWith('http')) return value;\n    if (value && typeof value === 'object') {\n      if (typeof value.url === 'string' && value.url.startsWith('http')) return value.url;\n      if (typeof value.src === 'string' && value.src.startsWith('http')) return value.src;\n    }\n  }\n\n  if (Array.isArray(obj.images) && obj.images.length) {\n    const first = obj.images[0];\n    if (typeof first === 'string' && first.startsWith('http')) return first;\n    if (first && typeof first.url === 'string' && first.url.startsWith('http')) return first.url;\n  }\n\n  return null;\n}\n\nconst lines = [];\nlet categoryName = '';\nlet imageUrl = null;\n\nfor (const item of $input.all()) {\n  const category = item.json.category_id;\n  categoryName = item.json.name || category;\n  const offers = item.json.offers || [];\n\n  imageUrl = imageUrl || getImageUrl(item.json);\n\n  for (const offer of offers) {\n    imageUrl = imageUrl || getImageUrl(offer);\n\n    const key = category + '_' + offer.offer_id;\n    const newPrice = Number(offer.price_usd);\n    const oldPrice = data.prices[key];\n\n    if (oldPrice === undefined) {\n      data.prices[key] = newPrice;\n      continue;\n    }\n\n    if (oldPrice !== newPrice) {\n      const direction = newPrice > oldPrice ? '📈 ارتفع' : '📉 انخفض';\n      const percent = oldPrice ? (((newPrice - oldPrice) / oldPrice) * 100).toFixed(2) : '0.00';\n\n      lines.push(\n        `${direction}\\n` +\n        `🎮 التصنيف: ${categoryName}\\n` +\n        `🎁 العرض: ${offer.name}\\n` +\n        `🆔 ID: ${offer.offer_id}\\n` +\n        `السعر القديم: $${oldPrice}\\n` +\n        `السعر الجديد: $${newPrice}\\n` +\n        `النسبة: ${percent}%`\n      );\n\n      data.prices[key] = newPrice;\n    }\n  }\n}\n\nif (lines.length === 0) {\n  return [{ json: { hasChanges: false } }];\n}\n\nreturn [{\n  json: {\n    hasChanges: true,\n    hasImage: !!imageUrl,\n    image_url: imageUrl,\n    message: `🔔 تغييرات أسعار (${lines.length})\\n\\n` + lines.join('\\n\\n────────────\\n\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -512
      ],
      "id": "15f82f88-2126-4a9d-bca3-39eb22a1e6d8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "7103752512",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -352
      ],
      "id": "345721e1-b671-4cad-82e4-320b546ad244",
      "name": "Send text fallback",
      "webhookId": "dd1e0173-4977-4c92-a08a-3cc8b746c57a",
      "credentials": {
        "telegramApi": {
          "id": "nnaBuPHIl8rw0zzq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $json.items.map(item => ({\n  json: item\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -560
      ],
      "id": "4cda403a-7786-47fd-afb1-f280e0fbeaeb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -512
      ],
      "id": "040b2084-8bce-4e30-8a00-61d48b85b614",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://api.fzr.cards/api/v2/topups/offers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category_id",
              "value": "={{$json.category_id}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "fc_75c398587018ed117fa2bc2f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -512
      ],
      "id": "8256d959-9ac7-4a49-bcb2-9a8985282140",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-changes-true",
              "leftValue": "={{$json.hasChanges}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        -512
      ],
      "id": "fixed-if-has-changes",
      "name": "Has Changes?"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        -512
      ],
      "id": "fb5360d2-14e2-4ba8-bb5c-448a28efa53e",
      "name": "Wait 1 Second"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-image-true",
              "leftValue": "={{$json.hasImage}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -512
      ],
      "id": "d6aa928c-343f-48a8-8c5d-1cd310c20275",
      "name": "Has Image?"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "7103752512",
        "binaryData": false,
        "file": "={{$json.image_url}}",
        "additionalFields": {
          "caption": "={{$json.message}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -560
      ],
      "id": "25cd337a-e914-46a4-8efe-69a81c975bb2",
      "name": "Send photo with message",
      "webhookId": "5a1f6d2a-ce87-418f-b830-8bca4a52e7ee",
      "credentials": {
        "telegramApi": {
          "id": "nnaBuPHIl8rw0zzq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait 1 Second",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Second": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Send photo with message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send text fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send photo with message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text fallback": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "067e1f4f-e3e2-4122-89d8-c22a27bc38df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75578bfee971b7bf789c0e4bb1574d2a4d4f465c3cd9b5bbf48737c80c671ee0"
  },
  "nodeGroups": [],
  "id": "fixed-i9kTHCcg8jynxeZf",
  "tags": []
}